body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.is-invalid:focus {
  outline: 0 !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(220, 53, 69, 0.5) !important;
}

#root ul {
  list-style: none;
}

#root li {
  display: inline-block;
  margin-right: 1em;
}

/* home nav active */
.home-nav-active {
  color: red;
}

.home-nav {
  height: 1.3em;
  margin: 0.7em 0 0;
}

/* 修复因为button而导致table内容位置偏上 */
.table tbody tr {
  line-height: 38px;
}