.popup {
  background-color: rgba(255, 0, 255, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content-box {
  width: 400px;
  height: 300px;
  background-color: #fff;
}

/* 修复一个小问题，在chrome下button会有蓝色的外边线 */
button.close {
  outline: none;
}